@font-face {
    font-family: 'Peace Sans';
    src: url('../styles/fonts/PeaceSans/PeaceSans/Peace\ Sans\ Webfont.ttf')
}

@font-face {
    font-family: 'Akrobat Semi';
    src: url('../styles/fonts/AkrobatSemi/Akrobat_Semi_Bold.ttf')
}


